<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/menu.css')}}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <title>Leo's Travel Blog</title>
</head>

<body>
    <div class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/tip">Travel Tips</a></li>
            <li><a href="/personal">Personal experience</a></li>
            <li><a href="/checklist">Checklist Generator</a></li>
        </ul>
    </div>
   

    <div class="container">
        <div class="content">
            <h2>Leo's World Tour</h2>
            <p>Join Leo on his journey through the world.</p>
        </div>

        <section class="section">
            <div class="image-container">
                <div class="image">
                    <img src="{{url_for('static',filename='images/europe.jpg')}}" alt="Leo in Europe">
                </div>
            </div>
            <div class="content">
                <h2>Europe</h2>
                <p>Explore Leo's adventures in Europe as he discovers the beauty of the continent.</p>
            </div>
        </section>
        
        <section class="section">
            <div class="image-container">
                <div class="image">
                    <img src="{{url_for('static',filename='images/aisa.jpg')}}" alt="Leo in Asia">
                </div>
            </div>
            <div class="content">
                <h2>Asia</h2>
                <p>Join Leo on his journey through the vibrant cultures and stunning landscapes of Asia.</p>
            </div>
        </section>

        <section class="section">
            <div class="image-container">
                <div class="image">
                    <img src="{{url_for('static',filename='images/america.jpg')}}" alt="Leo in america">
                </div>
            </div>
            <div class="content">
                <h2>North America</h2>
                <p> Leo's North American adventures take him from the vibrant streets of New York City to the natural wonders of the Grand Canyon, exploring the diverse landscapes and cultures of the continent.</p>
            </div>
        </section>


        
        <section class="section">
            <div class="image-container">
                <div class="image">
                    <img src="{{url_for('static',filename='images/southamerica.jpg')}}" alt="Leo in america">
                </div>
            </div>
            <div class="content">
                <h2>South America</h2>
                <p> South America beckons with Leo's exploration of the Amazon rainforest, the Inca ruins of Machu Picchu, and the passionate rhythms of Brazil's Carnival.</p>
            </div>
        </section>


            
        <section class="section">
            <div class="image-container">
                <div class="image">
                    <img src="{{url_for('static',filename='images/africa.jpg')}}" alt="Leo in africa">
                </div>
            </div>
            <div class="content">
                <h2>Africa</h2>
                <p> In Africa, Leo embarks on thrilling safari adventures, sharing stories of close encounters with majestic wildlife and advocating for the importance of wildlife </p>
            </div>
        </section>


        <section class="section">
            <div class="image-container">
                <div class="image">
                    <img src="{{url_for('static',filename='images/antartica.jpg')}}" alt="Leo in antartica">
                </div>
            </div>
            <div class="content">
                <h2>Antartica</h2>
                <p> Leo's travel bucket list yearns for the icy landscapes of Antarctica, where he dreams of witnessing the remote beauty of the Earth's southernmost continent.</p>
            </div>
        </section>

        

        <section class="section">
            <div class="image-container">
                <div class="image">
                    <img src="{{url_for('static',filename='images/australia.jpg')}}" alt="Leo in australia">
                </div>
            </div>
            <div class="content">
                <h2>Australia</h2>
                <p>  Leo explores the vast landscapes of Australia, from the stunning beaches of the Gold Coast to the unique wildlife of the Outback, embracing the land Down Under.</p>
            </div>
        </section>


        
        
</body>
</html>
